.todo-item {
    display: flex;
    margin: 1vh 0;
    height: 3vh;
}

.task-text {
    flex-grow: 1;
    font-size: large;
    color: rgb(76, 22, 224);
    font-size: 24px;
}

.task-text-done {
    flex-grow: 1;
    font-size: large;
    font-size: 24px;
    text-decoration: line-through;
}

.taks-delete {
    position: relative;
    font-size: 24px;
    border: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #fff;
}

.dellBtn {
    position: absolute;
    top: -6.5px;
    left: 0;
    color: #000;
}

.dellBtn:hover {
    color: red;

}

.taks-is-done {
    position: relative;
}

.taks-is-done input {
    width: 17px;
    height: 17px;
    visibility: hidden;
}

.taks-is-done input:checked {
    background-color: red;
}

.taks-is-done-icon {
    position: absolute;
    top: -7px;
    left: 0px;
    font-size: 25px;
}